<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>953691595970-9iq4i8boie2raips97ccikad47mcl0jr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.953691595970-9iq4i8boie2raips97ccikad47mcl0jr</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>953691595970-gn24rqq7ianouuf3u03d0kjeacnkaies.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCs3UVs0rxkzvFY9CHrL6pYngnjnfdRUlo</string>
	<key>GCM_SENDER_ID</key>
	<string>953691595970</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.joaomlg.financeapp</string>
	<key>PROJECT_ID</key>
	<string>finance-app-97fe3</string>
	<key>STORAGE_BUCKET</key>
	<string>finance-app-97fe3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:953691595970:ios:7e94f45ae24d8207b4075b</string>
</dict>
</plist>